.legend {
  background-color: white;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.legend i {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 6px;
  opacity: 0.9;
}
